body,
html {
  height: 100%;
  margin: 0;
}
.gjs-sm-sector .gjs-sm-gradient {
  width: 100%;
}

.grp-wrapper {
  margin: 15px 0;
}

.grp-handler-close {
  background-color: #444;
  color: #ddd;
}

.grp-handler-cp-wrap {
  border-color: #444;
}

.grp-preview,
.grp-wrapper {
  border-radius: 3px;
}